@using Microsoft.AspNetCore.Identity
@using PersonalCloud.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item m-1">
            <a class="nav-link text-dark btn btn-outline-info d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="@Localizer["Manage"]">
                <i class="bi bi-person-circle me-2"></i>@Localizer["HelloUser", User.Identity?.Name]
            </a>
        </li>
        <li class="nav-item m-1">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-outline-danger w-100 d-flex align-items-center">
                    <i class="bi bi-box-arrow-right me-2"></i>@Localizer["Logout"]
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item m-1">
            <a class="btn btn-outline-success w-100" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus me-1"></i>@Localizer["Register"]
            </a>
        </li>
        <li class="nav-item m-1">
            <a class="btn btn-primary w-100" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right me-1"></i>@Localizer["Login"]
            </a>
        </li>
    }
</ul>