@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["ErrorTitle"];
}

<h1 class="text-danger">@Localizer["ErrorTitle"]</h1>
<h2 class="text-danger">@Localizer["ErrorMessage"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestIdLabel"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevelopmentModeTitle"]</h3>
<p>
    @Localizer["DevelopmentModeIntro"]
</p>
<p>
    @Localizer["DevelopmentModeWarning"]
</p>